<h1 class="customCollageTitle">{{section.settings.custom_collage_title}}</h1>
<div class="customCollage">
  {% for blocks in section.blocks %}
    <div class="customBlock" style="grid-area:
      {% case forloop.index %}
      {% when 1 %} a
      {% when 2 %} b
      {% when 3 %} c
      {% when 4 %} d
      {% when 5 %} e
      {% when 6 %} f
      {% when 7 %} g
      {% when 8 %} h
      {% when 9 %} i
      {% when 10 %} j
      {% when 11 %} k
      {% endcase %}"
      onmouseover="this.querySelector('.collageImage').src='{{ blocks.settings.flip_image | img_url: 'large' }}';"
      onmouseout="this.querySelector('.collageImage').src='{{ blocks.settings.collage_image | img_url: 'large' }}';"
    >
      <img style="width: 100%; height: 100%; object-fit: cover !important; border-radius:5px;" class="collageImage" src="{{ blocks.settings.collage_image | img_url: 'large' }}">
    </div>
  {% endfor %}
</div>
